{%extends 'base.html'%}
{%block content%}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Student</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">{{user.first_name}}</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <button class="btn btn-primary mr-2" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#staticBackdrop"><i class="fa fa-history"></i>&nbsp;Leave Apply History</a>
                <!-- <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a> -->

        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'student_apply_save' %}">
                {% csrf_token %}
                <div class="col-12">
                    <h5 class="form-title"><span>Apply For Leave</span></h5>
                </div>
                {% include 'includes/messages.html'%}

                <div class="col-12 col-sm-4">
                    <div class="form-group">
                        <label>Leave Date</label>
                        <input type="date" class="form-control" name="leave_date" required>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label>Leave Message</label>
                        <textarea class="form-control" name="leave_message" style="height: 250px;"
                            placeholder="Enter Message" required></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Leave Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<div class="modal fade bd-example-modal-lg" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Leave Apply History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th>Message</th>
                                            <th class="text-right">Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for stud in student_leave_history %}
                                        <tr>
                                            <td>{{stud.id}}</td>
                                            <td>{{stud.data}}</td>
                                            <td>{{stud.message}}</td>
                                            <td class="text-right">
                                                <div class="actions">
                                                    {% if stud.status == 0 %}
                                                    <span class="badge badge-info">Request are pending</span>                                                     
                                                    {% elif stud.status == 1 %}
                                                    <span class="badge badge-success">Approved</span>
                                                    {%else%}
                                                    <span class="badge badge-danger">Rejected</span>

                                                    {%endif%}
                                                </div>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
        </div>
    </div>
</div>
{%endblock%}