{%extends 'base.html'%}
{% block content%}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Students</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item active">{{user.first_name}}</li>
 
             </ul>
 
          </div>
          {% include 'includes/messages.html'%}
 
          <!-- <div class="col-auto text-right float-right ml-auto">
 
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div> -->
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center mb-0 datatable">
                      <thead>
                         <tr>
                            <th>Massage</th>
                            
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         {%for s in notified %}
                         <tr>
                            <td>{{s.message}}</td>
                            <td class="text-right">
                                <div class="action">
                                    {% if s.status == 0 %}
                                    <button class="badge badge-danger">Mark As Done</button>
                                    {%else%}
                                    <button class="badge badge-danger" disabled="disabled">Mark As Done</button>
                                    {%endif%}
                                </div>
                              
                            </td>
                         </tr>
                         {%endfor%}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{%endblock%}