{%extends 'base.html'%}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Staff</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item active">{{user.first_name}}</li>
             </ul>
          </div>
          <!-- <div class="col-auto text-right float-right ml-auto">
             <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
             <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div> -->
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card card-table">
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center mb-0 datatable">
                      <thead>
                         <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Created At</th>
                            <th>Update At</th>
 
 
                            <th class="text-right">Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         {% for staf in staff %}
                         <tr>
                            <td>{{staf.id}}</td>
                            <td>
                               <h2 class="table-avatar">
                                  <a href="student-details.html" class="avatar avatar-sm mr-2">
 
                                     <img class="avatar-img rounded-circle" src="/{{staf.admin.profile_pic}}"
                                        alt="User Image">
 
                                  </a>
                                  <a
                                     href="student-details.html">{{staf.admin.first_name}}&nbsp;{{staf.admin.last_name}}</a>
                               </h2>
                            </td>
                            <td>{{staf.admin.email}}</td>
                            <td>{{staf.gender}}</td>
                            <td>{{staf.address}}</td>
                            <td>{{staf.created_at}}</td>
                            <td>{{staf.update_at}}</td>
 
                            <td class="text-right">
                               <div class="actions">
                                  <a href="/edit_staff/{{staf.id}}" class="btn btn-sm bg-success-light mr-2">
                                     <i class="fas fa-pen"></i>
                                  </a>
                                  <a href="/dilite_staff/{{staf.id}}" class="btn btn-sm bg-danger-light">
                                     <i class="fas fa-trash"></i>
                                  </a>
                               </div>
                            </td>
                         </tr>
                         {%endfor%}
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

{%endblock%}
